*{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    font-size: 1.5rem;
}


.Main-header{
    padding-top: 100px;
    text-align: center;
    margin: auto 680px;
}

.Main-header h1{
    font-size: 40px;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.Main-header h2{
    font-size: 40px;
    color:hsl(234, 12%, 34%) ;
}

.Main-header p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}


.main-cards{
   padding-top: 50px;
}



.card-container-1 {
    border-top: solid 0.3rem hsl(0, 78%, 62%);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
}
.card-container-1 h1{
    color:hsl(234, 12%, 34%) ;
    font-size: 20px ;  
}
.card-container-1 p{
    padding-top: 10px;
    font-size: 13px ;  
    color: hsl(229, 6%, 66%);
    
}
.card-container-1 img{
  
   transform: translate(220px, 50px);
}



.card-container-2 {
    border-top: solid 0.3rem hsl(180, 62%, 55%);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    transform: translate(-400px, -130px);
}
.card-container-2 h1{
    color:hsl(234, 12%, 34%) ;
    font-size: 20px ;  
}
.card-container-2 p{
    padding-top: 10px;
    font-size: 13px ;  
    color: hsl(229, 6%, 66%);
}
.card-container-2 img{
  
    transform: translate(220px, 50px);
 }
 




.card-container-3 {
    border-top: solid 0.3rem hsl(212, 86%, 64%);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    transform: translate(400px, -400px);
}

.card-container-3 h1{
    color:hsl(234, 12%, 34%) ;
    font-size: 20px ;  
}
.card-container-3 p{
    padding-top: 10px;
    font-size: 13px ;
    color: hsl(229, 6%, 66%);
}
.card-container-3 img{
  
    transform: translate(220px, 50px);
 }
 



.card-container-4 {
    border-top: solid 0.3rem hsl(34, 97%, 64%) ;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    transform: translate(0, -500px);
}
.card-container-4 h1{
    color:hsl(234, 12%, 34%) ;
    font-size: 20px ;  
}
.card-container-4 p{
    padding-top: 10px;
    font-size: 13px ;  
    color: hsl(229, 6%, 66%);
}
.card-container-4 img{
  
    transform: translate(220px, 50px);
 }
 
@media (max-width:375px) {
    body{
        padding: 20px;
    }
    .Main-header{
        
        
        margin: 0;
    }
    .Main-header h1{
        
        font-size: 25px;
        
    }
    .Main-header h2{
        
        font-size: 25px;
        
    }

    .card-container-1 {
        width: 250px;
        transform: translate(0px, 0px);
    }
    .card-container-1 img{
  
        transform: translate(190px, 40px);
     }
    .card-container-2 {
        width: 250px;
        transform: translate(0px, 30px);
    }

    .card-container-2 img{
  
        transform: translate(190px, 40px);
     }

    .card-container-3 {
        width: 250px;
        transform: translate(0px, 60px);
    }
    .card-container-3 img{
  
        transform: translate(190px, 50px);
     }
    .card-container-4 {
        width: 250px;
        transform: translate(0px, 90px);
    }
    .card-container-4 img{
  
        transform: translate(190px, 50px);
     }
}

